.jumbotron-fluid {
    /* border-radius: 0.3em; */
    text-align: center;
    font-family: 'Rock Salt', cursive;
}

.logo-head {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 0.5fr 1fr;
    width: 50%;
    margin: 0 auto;
    position: relative;
    right: 70px;
}

.info-head{
    display: grid;
    grid-template-rows: 1fr 0.5fr;
    grid-template-columns: 1fr;
    text-align: center;
    align-items: end;
    margin: 0;
}

.info-head h1 {
    font-size: 3.5rem;
}

.info-head h2 {
    font-size: 1.5rem;
}

@media screen and (max-width: 768px){
    .jumbotron-fluid {
        display: flex;
        justify-content: center;
        padding-right: 350px;
    }
    .logo-head{
        width: 50%;
    }
    .info-head h1{
        font-size: 2.5rem;
    }
    .info-head h2{
        font-size: 1.25rem;
    }
}

@media screen and (max-width: 450px){
    .jumbotron-fluid {
        padding-right: 100px;
    }
    .logo-head{
        display: flex;
        flex-flow: row wrap;
        align-content: center;
        width: 50%;
        position: relative;
        right: 0;
    }
    .info-head {
        position: relative;
        right: 15px;
    }
    .info-head h1{
        font-size: 2rem;
    }
    .info-head h2{
        font-size: 1rem;
    }
}